[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = alixundogn
	email = 3329640560@qq.com
[core]
	editor = \"C:\\Users\\Administrator\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
